$theme-white-color: #ffffff;
$theme-light-grey-color: #F7F7F7;
$radius39: 39px;
$theme-secondary-color: #8021F9;
$primary-gradient: linear-gradient(120.9deg, #2029F9 34.15%, #7F20F9 68.94%);
.header{
    padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: $theme-white-color;
    -webkit-box-shadow: 0 18px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 18px 20px rgba(0, 0, 0, 0.1);
    .activ{
      -webkit-box-shadow: 0 18px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 18px 20px rgba(0, 0, 0, 0.1);
    }
    .container{
      margin: 0 auto;
      padding: 0 24px;
      max-width: 1452px;
      width: 100%;
    }
    .headerwrap{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    .hesderleft{
      width: 100%;
      max-width: 770px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .searchmenu{
      width: 100%;
      padding: 2px;
      margin-left: 32px;
      border-radius: $radius39;
      background: $theme-light-grey-color;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
    }
    .productlist{
      position: fixed;
      left: 0px;
      top: 200px;
      z-index: 4;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      transform: translateY(50px);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 20px;
      padding: 32px 0px;
      transition: all 0.3s ease 0s;
      background: rgb(95, 38, 38);
    }
    .prpdshow{
      background:$theme-secondary-color ;
      opacity: 1;
      pointer-events: all;
      transform: translateY(0px);
      height: 100vh;
    }
  }
  .btnspan{
    margin-right: 15px;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 4px;
    background: $primary-gradient;
    &::before,
    &::after{
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      height: inherit;
      border-radius: inherit;
      background: $primary-gradient;
    }
    &::after{
      top: -6px
    }
    &::before{
      top: 6px
    }
    
  }
  .show{
    background: $theme-white-color;
    &::after{
      top: 0;
      transform: rotate(45deg);
    }

    &::before{
      top: 0;
      transform: rotate(-45deg);
    }

  }
 