@charset "UTF-8";
//radius
$radius4: 4px;
$radius6: 6px;
$radius7: 7px;
$radius8: 8px;
$radius12: 12px;
$radius16: 16px;
$radius28: 28px;
$radius39: 39px;
$radius42: 42px;
$radius44: 44px;
$radius100: 100px;

//color
$theme-red-color: #F01313;
$theme-dark-color: #1A191C;
$theme-grey-color: #9B99A8;
$theme-green-color: #5DB41A;
$theme-white-color: #ffffff;
$theme-orange-color: #FF8A00;
$theme-light-violet: #E4E6FD;
$theme-primary-color: #2029F9;
$theme-secondary-color: #8021F9;
$theme-dark-grey-color: #726F85;
$theme-dark-blue-color: #150E40;
$theme-light-grey-color: #F7F7F7;
$theme-primary-dark-color: #2029C8;
$theme-lightblue-grey-color: #E1E2FE;

//gradients
$primary-gradient: linear-gradient(120.9deg, #2029F9 34.15%, #7F20F9 68.94%);
$secondary-gradient: linear-gradient(315deg, #FF8A01 16.49%, #F01313 62.23%);

//separator gradients
$light-green-gradient: linear-gradient(240.76deg, #F3FFE5 0.58%, #E2FFFC 100%);
$light-orange-gradient: linear-gradient(240.76deg, #FFF9E6 0.58%, #FFE6E6 100%);
$light-blue-more-gradient: linear-gradient(240.76deg, #E6E6FF 0.58%, #E6FCFF 100%);
$light-pink-violet-gradient: linear-gradient(240.76deg, #FFDAD1 0.58%, #EEDAFF 100%);
$light-violet-more-gradient: linear-gradient(240.76deg, #E6EEFF 0.58%, #F2E6FF 100%);


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

html.stopscrolling {
  overflow: hidden;
  height: 100%;
}
html.startscrolling {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: normal;
  font-family: "Cera Pro";
  background: #ffffff;
}
body.stopscrolling {
  overflow: hidden;
  height: 100%;
}
footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1334px;
  width: 100%;
}
.containerheader {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1452px;
  width: 100%;
}

.App {

}
.errorpage{
  min-height: 100vh;
  height: 100%;
}
